<%- include('partials/header.ejs') -%>
    <section id="indices">
      <form class="" action="/" method="post">
    <div class="row all-cards">
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="NIFTY 50"><h2>NIFTY 50</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="NIFTY MIDCAP 50"><h2>NIFTY MIDCAP 50</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="NIFTY BANK"><h2>NIFTY BANK</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="NIFTY FINANCIAL SERVICES"><h2>NIFTY FINANCIAL SERVICES</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="NIFTY REALTY"><h2>NIFTY REALTY</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="NIFTY IT"><h2>NIFTY IT</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="NIFTY HEALTHCARE INDEX"><h2>NIFTY HEALTHCARE INDEX</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    <div class="card ind-card col-lg-5 col-md-5 col-sm-12">
      <div class="card-body">
        <button type="submit" class="btn btn-primary" name="share" value="NIFTY NEXT 50"><h2>NIFTY NEXT 50</h2></button>
        <h6>Open:#######</h6>
        <h6>Close:#######</h6>
      </div>
    </div>
    </div>
    </form>
    </section>
<%- include('partials/footer.ejs') -%>
